<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Copyright ©2015 Rails101s2 <br>
    Design by <a href="http://kitb.logdown.com" target=_new>kitb</a>
  </p>
</footer>
